@font-face{
	font-family: 'geo';
	src: url(fonts/geologica/Geologica_Auto-Regular.ttf);
	
}

@font-face{
	font-family: geobold;
	src: url(fonts/geologica/Geologica_Auto-Bold.ttf);
}

@font-face{
	font-family: geosemibold;
	src: url(fonts/geologica/Geologica_Auto-SemiBold.ttf);
}

@font-face{
	font-family: geolight;
	src: url(fonts/geologica/Geologica_Auto-Light.ttf);
}


a{
	text-decoration: none;
	color: inherit;
}

*{
	font-family: geo;
}


html{
	font-size: 20px;
}

body{
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	border-bottom: 2px solid green;
	padding: 10px 0px;
	background-color: rgba(0,208,124, .1);
}

nav{
	display: flex;
	column-gap: 1.7rem;
	row-gap: .8rem;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin: .5rem .8rem .8rem .8rem;
}

.nav_unit{
	font-size: 1.1rem;
	/*letter-spacing: .3px;*/
	/*font-weight: bold;*/
	font-family: geo;
	cursor: pointer;
	transition: .2s;
}

.nav_unit:first-child{
	color: #029863;
}


.line_unit{
	height: 55px;
	width: 1.8px;
	background-color: green;
	cursor: unset;
}


.nav_unit:hover{
	color: #029863;
}


.image_top img{
	/* max-width: 120px; */
	width: 200px;
}




.allnews{
	padding-top: 3rem;
	padding-bottom: 4rem;
	/*background-color: rgba(0,179,108,.8);*/
	/* background: linear-gradient(#0f9b91, #00d07c); */
	background-color: #0f9b91;
}

.title_news{
	text-align: center;
	color: white;
	margin-inline:.5rem;

}

h1{
	margin: 0;
	font-family: geobold;
	font-size: 3rem;
}

h2,h3,h4,h5{
	font-family: geosemibold;
}

.title_news h2{
 font-family: geosemibold;
 margin-top: .7rem;
}


.news_blocks{
	display: flex;
	flex-wrap: wrap;
	row-gap: 2rem;
	justify-content: space-around;
	margin-top: 2rem;
	/*padding-bottom: 4rem;*/
	margin-inline: 1rem;
}

.n_block{
	flex-basis: 325px;
}

.n_image img{
	width: 100%;
	height: 200px;
	border-radius: 10px;
}

.n_block{
	display: block;
	background-color: white;
	padding: 10px 10px 15px 10px;
	border-radius: 10px;
	cursor: pointer;
	transition-property: box-shadow;
	transition-duration: .2s;
}

.n_date{
	font-family: geolight;
	font-size: 16px;
	margin-top: 9px;
}

.n_text h3{
	font-size: 1rem;
	margin-top: 10px;
	margin-bottom: 11px;
	color: #282c2d;
}

.n_text p{
	margin: 0;
	font-size: .8rem;
	line-height: 1.2;
	/*max-height: 37px;*/
	overflow: hidden;
}

.n_block:hover{
	box-shadow: 0px 0px 50px #1dff9b;
}

footer{
	background-color: #053330;
	padding: 3rem 0px;
}


.foot_image:not(:first-child) img{
	height: 80px;
}

.images_line{
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 3rem;
	flex-wrap: wrap;
	row-gap: 1rem;
	margin-inline: 1rem;
}

.foot_button button{
	background-color: #0f9b91;
	color: white;
	font-size: .9rem;
	padding: 15px 30px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	margin-inline: 1rem;
	transition: .3s;
}

.foot_button button:hover{
	box-shadow: 0px 0px 20px #0f9b91;
}

.foot_button{
	text-align: center;
	margin-top: 1.5rem;
}


.n_block{max-height: 380px; z-index: 2;
    overflow: hidden;}

.n_block::-webkit-scrollbar { width: 0; }

.n_block button{
	text-align: inherit;
	background-color: inherit;
	border: none;
	cursor: pointer;
	padding: 0;
	display: block;
}

.vidos_bilet iframe{
	width: 100%;
	min-height: 400px;
	font-size: 0;
}

.vidos_bilet{
	/* border-top: 2px solid; */
	margin-top: 3rem;
	font-size: 0;
	/* padding-top: 2rem; */
}


.christ_tree{
	text-align: center;
}

.christ_tree img{
	max-width: 340px;
	transform: translateY(90px);
}

.preCalendar{
	display: flex;
	align-items: center;
}

