@media(max-width: 848px){
	.line_unit{
		display: none;
		height: 25px;
	}

	header{
		padding-bottom: .8rem;
	}

	html{
		font-size: 18px;
	}

	h1{
		font-size: 2.5rem;
	}

	.title_news h2{
		font-size: 1.4rem;
	}

	.news_blocks{
		margin-top: 2rem;
	}

	.allnews{
		padding-top: 2rem;
	}

	.n_block{
		overflow: hidden;
	}
}


@media(max-width: 500px){
	.n_text h3{
		font-size: .9rem;
	}

	.nav_unit{
		font-size: 1rem;
	}

	.n_text p{
		font-size: .7rem;
	}

	.n_date{
		font-size: .6rem;
	}
	
	.n_block{
		padding: 10px;
	}

	h1{
		font-size: 2rem;
	}

	.title_news h2{
		font-size: 1rem;
	}

	.news_blocks{
		margin-top: 1.5rem;
		margin-inline: .5rem;
	}

	.allnews{
		padding-top: 1.5rem;
	}

	.vidos_bilet iframe{
		min-height: 260px;
	}

	.vidos_bilet{
		/* border-top: 2px solid; */
		font-size: 0;
		padding-top: 0rem;
	}

	.image_top img{
		max-width: 150px;
	}

}