.nav_unit:first-child{
	color: unset;
}

.nav_unit:first-child:hover{
	color: #029863;
}

.container{
	    background-color: rgb(247,247,247);
}

h1{
	font-family: geosemibold;
	font-size: 1.6rem;
	text-align: left;
	line-height: 1.4;
}

.the_new_container a{
	/*text-decoration: underline;*/
	color: -webkit-link;;
}

.the_new_container{
	margin: 0 auto;
    /* max-width: 1100px; */
	max-width: 1300px;
    padding: 2.2rem 1rem 2rem 1rem;
}


.n_main_image{
	margin-top: 1.5rem;
	margin-inline: auto;
	font-size: 0;
	border-radius: 20px;
	display: flex;
	/* justify-content: center; */
	column-gap: 1rem;
	row-gap: 1rem;
	transition: .8s;
	/* flex-wrap: wrap; */
}
/* flex: 100%; */


.overflow{
	overflow: hidden; 
}

.tv_line_toggle {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
	margin-bottom: 1rem;
}

.tvl_toggle_unit {
    background-color: #569aff;
    border-radius: 50%;
    padding: .7rem .9rem .5rem .9rem;
    cursor: pointer;
}

.tvl_toggle_unit:first-child svg {
    transform: scale(-1);
}

.n_main_image > div{
	/* flex-basis: 540px; */
	min-width: calc(50% - 1rem);
	/* flex-grow: 1; */
}

.n_main_image > div:first-child{
	/* flex: 100%; */
}

.n_main_image img{
	max-height: 600px;
	width: 100%; 
	height: 100%;
	border-radius: 20px;
	/* object-fit: contain; */
}

.n_date_2{
	text-align: right;
	font-size: 1.2rem;
	font-family: geolight;
	margin-top: 1rem;
	color: steelblue;
}

.n_main_text{
	/* margin-top: .5rem; */
	margin-bottom: 5rem;
	border-bottom: 2px solid;
}

.n_main_text p{
	font-family: geolight;
	line-height: 1.5;
	font-size: 1rem;
	margin-top: 0px;
}

.n_main_text h4{
	margin-top: 0px;
	margin-bottom: 0px;
}

.n_main_text>div:last-child{
	margin-bottom: 2rem;
}
