.nav_unit:first-child{
	color: unset;
}

.nav_unit:first-child:hover{
	color: #029863;
}


body{
	min-width: 400px;
}

.nav_unit:nth-child(6){
	color: #029863;
}


.allnews{
	padding-inline: 30px;
	background: linear-gradient(220.42deg,#00d07c 27.8%,#0f9b91 43.85%);
}

.parent_toppage{
	color: white;
	text-align: center;
}


.toppage_image img{
	max-width: 80%;
}

/*.toppage_image video{
	min-height: 200px;
	max-height: 400px;
	max-width: 100%;
	border-radius: 20px;
}*/

.toppage_image iframe{
	height: 400px;
	width: 100%;
	border-radius: 20px;
	object-fit: fill;
}


.toppage_image{
	max-width: 1000px;
	margin: 0 auto;
}

.parent_toppage h2{
	margin-top: 10px;
	margin-bottom: 1.5rem;
	max-width: 1000px;
	margin: .9rem auto 1.5rem auto;
	font-size: 1.2rem;
}

.parent_toppage button{
	font-size: 1rem;
	padding: 1.2rem  2rem;
	border: none;
	border-radius: 2rem;
	color: #0f9b91;
	font-family: geosemibold;
	cursor: pointer;
	transition-property: color,box-shadow;
	transition-duration: .3s;
}

.parent_toppage button:hover,.p_info_card form button:hover,.pb_way_button button:hover,.p_note_left button:hover,
.tb_text button:hover{
	color: #00d07c;
	box-shadow: 0px 0px 20px white;
}

.parents_main{
	background-color: #e6f2f1 /*rgba(0,179,108,.8)*/;
}

.parents_main_content{
	max-width: 1440px;
	margin: 0 auto;
	padding-top: 4rem;
}


.t_top_buts{
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.t_top_buts button{
	padding: 1rem 1.8rem;
}

.pre_p_notepad{
	padding: 2rem;
	background-color: white;
	border-radius: 30px;
}

.p_notepad{
	display: flex;
	background: linear-gradient(144.34deg,#00d07c 20.55%,#0f9b91 72.11%);
	padding: 2rem;
	border-radius: 40px;
	color: white;
	gap: 1rem;
}

.p_note_left h2{
	margin-top: 0;
}

.p_note_left button{
	    padding: .9rem 1.6rem;
	    font-size: .9rem;
	    border: none;
	    border-radius: 2rem;
	    color: #0f9b91;
	    font-family: geosemibold;
	    cursor: pointer;
	    transition-property: color,box-shadow;
	    transition-duration: .3s;
}

.p_note_left p{
	margin-bottom: 2rem;
}



.t_become_teacher{
	margin-top: 4rem;
}

.tb_teacher_h2{
	text-align: center;
	font-size: 2.5rem;
	max-width: 920px;
	margin: 0 auto 2.5rem auto;
	line-height: 1.1;
}

.tbt_flex{
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
}

.tbtf_image{
	flex-basis: 35%;
}

.tbtf_text{
	flex-basis: 65%;
	background-color: white;
	border-radius: 0px 30px 30px 0px;
	padding: 1.7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 396px;
	box-sizing: border-box;
}

.tbtft_main_text{
	font-size: 1.3rem;
}

.tbtf_image img{
	width: 100%;
	height: 100%;
	border-radius: 30px 0px 0px 30px;
	max-height: 396px;
}

.tbtft_down_text h3{
	margin-bottom: 0;
	color: #109c92;
	font-size: 1rem;
}

.tbtft_down_text p{
	margin-top: 10px;
	color: #109c92;
	font-size: .9rem;
	margin-bottom: 0px;
}


.tbt_flex_2{
	display: flex;
	max-width: 1200px;
	margin: 2.5rem auto 0 auto;
}

.tbtf_2_main{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    max-height: 340px;
    overflow: auto;
}

.pick_author{
	flex-basis: 13%;
    text-align: center;
    cursor: pointer;
}

.p_author_image img{
	width: 100%;
	height: 125px;
    border-radius: 10px;
}

.p_author_disc{
	font-size: .7rem;
	margin-top: 5px;
}

.tbtf_text br{
	display: none;
}

.t_bucklet{
	margin-inline: 3rem;
	background: linear-gradient(#006149,#0f9b91 ); 
	color: white;
	display: flex;
	justify-content: space-around;
	border-radius: 30px;
	padding: 2rem 0;
	margin-top: 4rem;
}


.tb_text{
	flex-basis: 50%;
}

.tb_text h2{
	font-size: 1.8rem;
	margin-top: 0;
	margin-bottom: 0;
}

.tb_text p{
	font-size: 1.1rem;
}

.tb_text button{
	padding: .9rem 1.6rem;
    font-size: .9rem;
    border: none;
    border-radius: 2rem;
    color: #0f9b91;
    font-family: geosemibold;
    cursor: pointer;
    transition-property: color,box-shadow;
    transition-duration: .3s;
    margin-top: 1rem;
}

.tap_cards{
	margin-inline: 3rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 1.5rem;
}

.tapc_unit{
	flex-basis: 25%;
	background-color: white;
	padding: 1.5rem;
	border-radius: 30px;
}

.tapc_unit h2{
	margin: 0;
	color: green;
}

.tapc_unit p{
	margin: 10px 0 0 0;
	font-size: 1.1rem;
}

.t_about_project{
	margin-top: 4rem;
}

.tap_video{
	display: flex;
	justify-content: space-between;
	margin-inline: 3rem;
}

.tapv_unit{
	flex-basis: 49%;
	margin-top: 2.5rem;
}

/*.tapv_unit video{
	width: 100%;
	border-radius: 30px;
}*/

.tapv_unit iframe{
	width: 100%;
	border-radius: 30px;
	height: 300px;
}

.p_advantage{
	margin-left: 3rem;
	margin-top: 5rem;
}

.p_adv_flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}

.p_adv_unit{
	flex-basis: 49%;
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.2rem;
}

.p_advantage h2{
	text-align: center;
	font-size: 2.5rem;
	margin-top: 0;
}

.tusedocs_flex{
	display: flex;
	row-gap: 1rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

.usedocs_unit{
	background-color: /*#14CE75*/ /*#B9FBDB*/ #f1f5f9;
	flex-basis: 29.5%;
	display: flex;
	gap: 1rem;
	padding: 1rem;
	border-radius: 30px;
}

.usedocs_text>div{
	margin-bottom: 2rem;
}

.usedocs_text button{
	/*font-weight: bold;*/
	padding: .6rem .9rem;
	color: #1f6bdd;
	border-color: #569aff;
	border-radius: 15px;
	font-size: .8rem;
	cursor: pointer;
	transition-property: color,box-shadow;
	transition-duration: .3s;
}

.usedocs_text button:hover{
	color: #1f6bdd;
	box-shadow: 0px 0px 20px #1f6bdd;
}

.t_videos_line{
	display: flex;
	gap: 1rem;
	overflow: hidden;
	transition: .8s;
}

.tv_line_unit{
	flex-basis: 350px;
}

.tv_line_unit iframe{
	height: 200px;
	min-width: 100%;
	border-radius: 30px;
	object-fit: fill;
}

.tv_line_toggle{
	display: flex;
	justify-content: right;
	gap: 1rem;
	margin-top: 1.7rem;
}

.tvl_toggle_unit{
	background-color: #569aff;
	border-radius: 50%;
	padding: .7rem .9rem .5rem .9rem;
	cursor: pointer;
}

.tvl_toggle_unit:first-child svg{
	transform: scale(-1);
}

.tv_overflow{
	overflow: hidden;
}


.tvline_disc,.tvline_auth{
	margin-left: .6rem;
}

.tvline_disc{
	font-size: 1rem;
}

.tvline_auth{
	font-size: .8rem;
}

.t_images_line{
	display: flex;
	gap: 1rem;
	transition: .8s;
}


.t_images_unit{
	min-width: calc(50% - 1rem);
}

.t_images_unit img{
	/*max-width: 800px;*/
	width: 100%;
	height: 100%;
	max-height: 450px;
}

/*.filform .t_bucklet:last-child{
	margin-bottom: 4rem;
}
*/
.filform{
	padding-bottom: 4rem;
}