.nav_unit:first-child{
	color: unset;
}

.nav_unit:first-child:hover{
	color: #029863;
}


body{
	min-width:340px
}

.nav_unit:nth-child(4){
	color: #029863;
}

.allnews{
	padding-inline: 30px;
	background: linear-gradient(220.42deg,#00d07c 27.8%,#0f9b91 43.85%);
}

.parent_toppage{
	color: white;
	text-align: center;
}


.toppage_image img{
	max-width: 80%;
}

.parent_toppage h2{
	margin-top: 10px;
	margin-bottom: 1.5rem;
}

.parent_toppage button{
	font-size: 1rem;
	padding: 1.2rem  2rem;
	border: none;
	border-radius: 2rem;
	color: #0f9b91;
	font-family: geosemibold;
	cursor: pointer;
	transition-property: color,box-shadow;
	transition-duration: .3s;
}

.parent_toppage button:hover,.p_info_card form button:hover,.pb_way_button button:hover{
	color: #00d07c;
	box-shadow: 0px 0px 20px white;
}

.parents_main{
	background-color: #e6f2f1 /*rgba(0,179,108,.8)*/;
}

.parents_main_content{
	max-width: 1440px;
	margin: 0 auto;
}

.parents_info_cards{
	background-color: white;
	/*flex-wrap: wrap;*/
	padding: 3rem 0;
	display: flex;
	justify-content: space-between;
}


.p_info_card{
	color: white;
	background-color: #0f9b91;
	flex-basis: 31%;
	border-radius: 30px;
	overflow: hidden;
	position: relative;
}

.p_infopad{
	margin: 40px 30px 30px 30px;
}

.fo_likemarque{
	text-align: center;
	background-color: #00d07c;
	padding: .5rem 0;
	font-family: geosemibold;
	letter-spacing: .4px;
	font-size: .9rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	/*padding-inline: 1rem;*/
}

.p_topinfo_flex1{
	display: flex;
	gap: .6rem;
}

.fo_likebutton{
	display: flex;
	column-gap: .5rem;
	flex-wrap: wrap;
	row-gap: 1rem;
}

.fo_flex1_text{
	font-weight: bold;
	font-size: .9rem;
}

.p_infopad h2{
	margin-top: .7rem;
	margin-bottom: 2rem;
	font-family: geo;
	font-weight: normal;
	letter-spacing: .1px;
	font-size: 1.58rem;
}

.p_infopad p {
	font-size: .9rem;
}

.fo_likebutton div{
	border: 2px solid white;
	padding: .4rem .9rem;
	border-radius: 1.5rem;
	font-size: .8rem;
}

.p_info_card form button{
	font-family: geosemibold;
	color: #0f9b91;
	font-size: .9rem;
	border-radius: 1rem;
	padding: .6rem 1.4rem;
	border: none;
	cursor: pointer;
	transition-property: color,box-shadow;
    transition-duration: .3s;
}

.p_info_card form{
	margin-top: 1.5rem;
	margin-bottom: 60px;
}


.p_infopad ul{
	padding-left: 20px;
}

.p_infopad ul li{
	margin-bottom: .2rem;
}

.p_course_title{
	text-align: center;
	padding-top: 6rem;
}

.p_course_title h2{
	margin: 0;
	font-size: 2.8rem;
}

.p_course_title h3{
	margin-top: .5rem;
	font-size: 2.5rem;
	color: #0f9b91;
}

.p_course_flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 2rem;
/*	padding-bottom: 3rem;*/
}

.p_course_unit{
	display: flex;
	justify-content: center;
	gap: .7rem;
	flex-basis: 24%;
	/*flex-wrap: wrap;*/
}

.p_course_image{
	background-color: #bee6e3;
	border-radius: 20px;
	padding: 15px 20px;
	align-self: flex-start;

}

.p_course_text{
	font-size: .9rem;
	margin-top: 4px;
}

.p_program_title{
	text-align: center;
	margin-top: 5.5rem;
	margin-bottom: 2.5rem;
}

.p_program_title h2{
	margin-bottom: .5rem;
	font-size: 2rem;
}


.program_modules{
	max-width: 70%;
	margin: 0 auto;
}

.pm_unit_flex{
	display: flex;
	justify-content: space-between;
}


.pm_unit_left{
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.pm_unit_right img{
	height: 100%;
	width: 100%;
}

.pmu_left_number{
	border-radius: 50%;
	padding: 5px 13px;
	background-color: #0f9b91;
	color: white;
	font-family: geosemibold;
	align-self: flex-start;
}


.pm_unit_right{
	transition: .6s;
	min-width: 25px;
	margin-left: 20px;
}

.p_module_unit{
	background-color: white;
	padding: 1.4rem 1.6rem 1.6rem 1.6rem;
	border-radius: 1rem;
	cursor: pointer;
	margin-bottom: 1rem;
	transition-property: box-shadow, max-height;
	transition-duration: 1s;
	max-height: 2rem;
	overflow: hidden;
}


.p_module_unit:hover .pm_unit_hidden{
	display: block;
	opacity: 1;
	visibility: visible;
}

.p_module_unit:hover .pm_unit_right{
	transform: rotate(180deg);
}

.p_module_unit:hover{
	box-shadow: 0px 0px 20px #0f9b91;
	max-height: 100rem;
}

.pm_unit_hidden{
	/*display: none;*/
	opacity: 0;
	transition-property: opacity, visibility;
	transition-duration: 1s;
	visibility: hidden;
	/*position: absolute;*/
}

.pmu_hidden_flex{
	display: flex;
	justify-content: space-between;
	max-width: 80%;
	margin-bottom: .7rem;
	column-gap: 1.2rem;
	/*margin: 0 auto;*/
}

.pm_unit_hidden .pmu_hidden_flex:first-child{
	margin-top: 1.5rem;
	/*margin-bottom: 0px;*/
}

.pm_unit_hidden .pmu_hidden_flex:last-child{
	margin-bottom: 0px;
}


.pmuh_title{
	font-size: .8rem;
	margin-bottom: .5rem;
	font-family: geosemibold;
	color: grey;
}


.pmuh_theme,.pmuh_long{
	font-size: .9rem;
}

.pmuh_theme{
	flex-basis: 550px;
}


.course_authors{
	max-width: 70%;
	margin: 0 auto;
	margin-top: 5rem;
}

.course_author_main{
	display: flex;
}

.ca_image{
	max-height: 450px;
	/*text-align: center;*/
	flex-basis: 40%;
}

.ca_text{
	flex-basis: 60%;
	background-color: white;
	padding: 1rem;
	max-height: 450px;
	box-sizing: border-box;
	overflow: auto;
}

.ca_text h2{
	margin: 0;
	font-family: 'geo';
	font-size: 1.7rem;
	font-weight: normal;
}

.ca_text p{
	font-size: 1rem;
	font-family: geolight;
	margin-top: .5rem;
}

.ca_image img{
	width: 100%;
	height: 100%;
	border-radius: 50px 0px 0px 50px;
}

.course_authors>h2{
	text-align: center;
	font-size: 2rem;
	letter-spacing: .4px;
	margin-bottom: 2.5rem;
}


.course_authors_line{
	display: flex;
	justify-content: space-around;
	/*align-items: flex-end;*/
	flex-wrap: wrap;
	margin-top: 2.5rem;
	gap: 2rem;
}


.pick_author{
	flex-basis: 16%;
	text-align: center;
	cursor: pointer;
}

.p_author_image img{
	width: 60%;
	border-radius: 20px;
	max-height: 80px;
}

.p_author_disc{
	font-size: .7rem;
}

.p_results{
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.p_results>h2{
	text-align: center;
	font-size: 2rem;
    letter-spacing: .4px;
    margin-bottom: 2.5rem;
}

.p_results_flex{
	max-width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	row-gap: 2rem;
}

.pr_unit_text{
	background-color: white;
	padding: 1.5rem;
}

.pr_unit_text h2{
	margin-top: 0;
	font-size: 1.5rem;
	color: #282c2d;
	margin-bottom: 1rem;

}

.pr_unit_image{
	font-size: 0px;
}
.pr_unit_image img{
	max-width: 100%;
	border-radius: 40px;
}

.pr_unit_image image,.pr_unit_text{
	border-radius: 40px;
}

.pr_unit_text ul, .p_scene_info ul{
	padding-left: 1.1rem;
	font-size: 1rem;
	margin: 0;
	
}

.pr_unit_text ul li, .p_scene_info ul li{
	margin-bottom: .8rem;
	color: #00d07c;
}

.pr_unit_text ul li span, .p_scene_info ul li span{
	color: #282c2d;
	font-family: geolight;

}

.pr_unit_text ul li:last-child,.p_scene_info ul li:last-child{
	margin-bottom: 0;
}

.p_results_unit{
	flex-basis: 560px;
}



.p_build_way{
	max-width: 85%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	row-gap: 1rem;
	justify-content: space-around;
	align-items: center;
	background-color: #0f9b91;
	color: white;
	border-radius: 30px;
	padding: 3rem 1rem;
}

.pb_way_text{
	font-size: 1.5rem;
	flex-basis: 70%;
}

.pb_way_text span{
	color: #00e47c;
}

.pb_way_button button{
	font-family: geosemibold;
    color: #0f9b91;
    font-size: .9rem;
    border-radius: 1rem;
    padding: .6rem 1.4rem;
    border: none;
    cursor: pointer;
    transition-property: color,box-shadow;
    transition-duration: .3s;
}


.p_test_info{
	margin-top: 6rem;
}

.p_test_info>h2{
	text-align: center;
	font-size: 2.8rem;
	line-height: 1.2;
}



.pt_info_flex{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	row-gap: 2.5rem;
}

.pti_flex_unit{
	position: relative;
	background-color: white;
	flex-basis: 30%;
	border-radius: 30px;
}

.pti_flex_unit_pad h2{
	margin-top: 0;
	font-size: 1.6rem;
	font-family: geo;
	font-weight: normal;
	color: #282c2d;
}

.ptif_unit_time{
	display: flex;
	gap: .5rem;
	margin-top: 2rem;
}

.pti_flex_unit_pad{
	padding: 1rem;
}

.pti_flex_unit_pad p{
	margin-top: .5rem;
	margin-bottom: 1.5rem;
	/*font-size: 1.1rem;*/
}

.ptifu_time_text{
	color: #2cce8f;
	font-size: .9rem;
}

.pti_flex_unit .fo_likemarque{
	padding-inline: unset;
	color: white;
	border-radius: 0 0 30px 30px;
	background-color: #7cddb8;
	font-size: 1rem;
}

.pti_flex_unit button{
	font-family: geosemibold;
    color: #0f9b91;
    font-size: .9rem;
    border-radius: 1rem;
    padding: .6rem 1.4rem;
    border: none;
    cursor: pointer;
    transition-property: color,box-shadow;
    transition-duration: .3s;
	margin-bottom: 3rem;
}


.pti_flex_unit button:hover,.ps_info_but button:hover{
	color: #00d07c;
	box-shadow: 0px 0px 20px #00d07c;
}


.p_scene_info{
	margin-top: 6rem;
	padding-bottom: 6rem;
}

.p_scene_info>h2{
	text-align: center;
    font-size: 2.8rem;
    line-height: 1.1;
    margin-bottom: 0;
}

.p_scene_info>p{
	text-align: center;
	font-size: 1.3rem;
	margin-top: .9rem;
	font-family: geolight;
	line-height: 1.3;
}

.p_scene_info .course_author_main{
	max-width: 80%;
	margin: 0 auto;
}

.p_scene_info .ca_image{
	max-height: unset;
}

.p_scene_info .ca_image{
	flex-basis: 50%;
}

.p_scene_info .ca_text{
	flex-basis: 50%;
	padding-inline: 1.5rem;
}

.p_scene_info .ca_text h2{
	margin-bottom: .9rem;
	margin-top: 2rem;
}

.ps_info_but button{
	font-family: geosemibold;
    color: #0f9b91;
    font-size: .9rem;
    border-radius: 1.5rem;
    padding: .7rem 1.4rem;
    border: none;
    cursor: pointer;
    transition-property: color,box-shadow;
    transition-duration: .3s;
    margin-top: 2.5rem;
}

.ca_text_change br{
	display: none;
}